.rootResults{
 margin: 1rem ;
}


.imageResult1{
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.imageResult2{
    width: 350px;
    height: 177px;
    border-radius: 10px;
    margin-right: 10px;
}
.imageResult3{
    width: 350px;
    height: 177px;
    border-radius: 10px;
    margin-right: 10px;
}
.imageResult4{
    width: 350px;
    height: 177px;
    border-radius: 10px;
    margin-right: 10px;
}
.imageResult5{
    width: 350px;
    height: 177px;
    border-radius: 10px;
    margin-right: 10px;
}
.down{
    margin: 1rem;
}
.up{
    margin-left: 3rem;
}
.calification{
    width: 1px;
}
.imageslist{
    margin: 1rem;
}
.emailOpinion{
    width: 25rem;
    margin-left: 250px;
}

#message{
    margin-top: 20px;
}
