.rootResults{
 margin: 1rem ;
}


.imageResult1{
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    
   
}

.down{
    margin: 1rem;
}
.up{
    margin-left: 3rem;
}
.calification{
    width: 1px;
}
.imageslist{
    margin: 1rem;
}
.emailOpinion{
    width: 25rem;
    margin-left: 250px;
}

#message{
    margin-top: 20px;
}
